<nav>
    <div class="progress-container">
        <div class="progress-bar"></div>
    </div>
    <div class="logo">
        <a href="/">Dhilip Sanjay</a>
    </div>
    <ul class="top-navigation-bar">
        <li class="top-navigation-item"><a href="/">Home</a></li>
        <li class="top-navigation-item"><a href="/about/">About</a></li>
        <li class="top-navigation-item"><a href="/blog/">Blog</a></li>
        <li class="top-navigation-item"><a href="/projects/">Projects</a></li>
        <!-- <li class="top-navigation-item"><a href="/contact/">Contact</a></li> -->
    </ul>
    <div class="nav-icon" >
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>