@import "main.css";
:root
{
    /* These variables will be automatically updated with javascript
    Check about.js file to update the skill percentage */
    --skill1: 0%;
    --skill2: 0%;
    --skill3: 0%;
    --skill4: 0%;
    --skill5: 0%;
    --skill6: 0%;
    --skill-bar-height: 12px;
}

.profile_pic
{
    margin-bottom: 15px;
    width: 300px;
    object-fit: cover;
}

.subtitle
{
    display: grid;
    grid-template-rows: 320px 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.profile_name
{
    font-size: 1.5rem;
    margin: 0;
}
.ss_name
{
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.box
{
    margin: 5px auto;
}
/* Timeline */

.timeline
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-item
{
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;
    border-bottom: 2px solid var(--color1);
    border-left: 5px solid var(--color1);
    transition: all 1s ease-in-out;
}

.time
{
    font-weight: bold;
    padding: 4px 12px;
    background: var(--maincolor);
    border-radius: 15px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.event
{
    margin: 10px 0 0;
    padding: 0 12px;
    color: var(--color2);
    transition: all 0.2s ease-in-out;
}


.description
{
    margin: 10px 0 0;
    padding: 0 12px;
    font-size: 1rem;
    color: var(--greycolor);
    transition: all 0.2s ease-in-out;
}

    .timeline-item:hover
    {
    background: var(--maincolor);
    }
    .timeline-item:hover .time
    {
    background: white;
    color: var(--color1);
    }
    .timeline-item:hover .event
    {
    color: white;
    }
    .timeline-item:hover .description
    {
    color: white;
    }

/* Timeline */


/* skills */

.skill{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skill-name
{
    margin-bottom: 15px;

}
.skill-bar
{
    height: var(--skill-bar-height);
    margin-top: 10px;
    color: white;
    position: relative;
}

.skill-bar::before
{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--skill-bar-height);
    z-index: -2;
    background: #d2d6d7;
}

.skill-bar::after
{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--skill-bar-height);
    z-index: -1;
    background: var(--maincolor);
    transition: 0.8s;
}

.skill-bar.flow-in::after
{
    animation: flowIn 1 5s;
}

.skill1::after
{
    max-width: var(--skill1);
}

.skill2::after
{
    max-width: var(--skill2)
}

.skill3::after
{
    max-width: var(--skill3)
}

.skill4::after
{
    max-width: var(--skill4)
}

.skill5::after
{
    max-width: var(--skill5)
}

.skill6::after
{
    max-width: var(--skill6)
}

/* skills */

/* Achievements */
.achievements
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.achievement-name
{
    margin: 10px 0 0;
    padding: 0 12px;
}

/* Achievements */

/* Experience */
.experience
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.experience-name
{
    margin-bottom: 15px;
}

/*  Experience */

/* Categories */
.categories
{
    margin: 0;
    padding: 0;    
}
.category-name
{
    list-style-type: lower-greek;
    margin-bottom: 15px;
}
/* Categories */
@keyframes blink
{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes flowIn
{
    0%{
        scale: 0;
        width: 0;
    }
    100%{
        scale: 1;
        width: 100%;
    }
}