@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("syntax.css"); 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after
{
    box-sizing: border-box;
}

*:focus
{
  outline: none;
}
:root
{
    --font:'Montserrat',sans-serif; /* This will be used for header and footer */
    --mainfont: 'PT Sans','Montserrat',sans-serif;
    --specialfont: 'Lato', 'PT Sans', sans-serif;
    --color1: #b77dfb;
    --color2: #5668f2;
    --maincolor: linear-gradient(to right,#b77dfb,#5668f2);
    --greycolor: rgb(121, 121, 121);
    --bluebgcolor: rgb(240, 244, 255);
    --blue : rgb(0, 47, 148);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, button{ margin-bottom: 15px; }
img 
{ max-width: 100%; 
  vertical-align: middle; 
  margin-bottom: 15px;
}

html
{
    font-family: var(--font);/* Never get smaller than this */
    /* font-size: 20px; */
    height: 100%;
    scroll-behavior: smooth;
}

/* @media (max-width:768px) {
html {
     font-size: 18px; 
}
} */

/* Never get larger than this */
/*
@media (min-width:1200px) {
html {
    font-size: 22px;
}
}*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}

hr{
  margin: 1em 0;
  color: var(--greycolor);
}

/*navbar*/
nav
{
    position: fixed;
    top: 3px;
    left: 0;
    min-width: 100vw;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 15px var(--greycolor);
    z-index: 50;
}


/* progress bar */
.progress-container {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}
.progress-bar {
    height: 3px;
    background: var(--maincolor);
    width: 0%;
}
/* progress bar */

.logo
{
    font-size: 1.5rem;
}

.logo a
{
    text-decoration: none;
    color: var(--color2);
}
 
.logo a:hover,
.logo a:focus
{
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
}
.top-navigation-bar
{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 0;
}

.top-navigation-bar a
{
    font-size: 1rem;
    text-decoration: none;
    display: inline-block; /* scaling doesnot work for inline element */
    color: var(--greycolor);
    letter-spacing: 3px;
    font-weight: bold;
    position: relative;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}

.top-navigation-item
{
    list-style-type: none;
    padding: 0 1rem;
}
.top-navigation-item a::before
{
    content: '';
    display: block;
    height: 3px;
    background: var(--maincolor);
    position: absolute;
    top: -.3em;
    left: 0;
    right: 0;
    transform: scale(0);
    transform-origin: right;
    transition: transform ease-in-out 300ms;
}

.top-navigation-item a:hover::before,
.top-navigation-item a:focus::before
{
    transform: scale(1);
    transform-origin: left;
}
.top-navigation-item a:hover,
.top-navigation-item a:focus
{
    background: var(--maincolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-icon
{
    display: none;
    cursor: pointer;
    margin: auto;
    margin-right: 20px;
}

.nav-icon div
{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: relative;
}
/*navbar*/

.main-container
{
    font-size: 1.15rem;
    font-family: var(--mainfont);
    max-width: 750px;
    height: auto;
    margin: 10px auto;
    padding: 10px 30px;
    margin-top: 68px;
    text-align: justify;
    position: relative;
    border-bottom: 1.5px solid rgb(230, 230, 230);
    /* animation: slideFromLeft 1s ease forwards; */
}
.main-container a
{
    text-decoration: none;
    color: inherit;
    color: var(--color2);
}

.main-container a:hover,
.main-container a:focus
{
    background-color: var(--bluebgcolor);
    color: var(--color2);
}
.main-container ul li, 
.main-container ol li
{
  list-style-position: inside;
  margin-bottom: 15px;
}
.header
{
    margin-top: 10px;
    text-align: center;
}

.footer
{
    font-size: 0.75rem;
    padding: 0.75rem;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto; /* To keep it at the bottom */
}

.copyright
{
    padding-top: 5px;
}
/*social media*/
.social-media
{
    display: flex;
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    justify-content: center;
}

.social-media-icon a
{
    display: block;
    text-decoration:none;
    position: relative;
    margin: 0 0.75rem;
}

.social-media-icon
{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.social-media-icon:hover,
.social-media-icon:focus
{
    transform: scale(1.4); 
}


/*social media*/

/* Quotes */
blockquote { 
    border-left: 4px solid var(--color1); 
    border-bottom: 2px solid var(--color1);
    padding-left: 15px;
    padding-bottom: 5px; 
    letter-spacing: 0.5px;
}

blockquote > :last-child { margin-bottom: 0; }

.quote
{
    font-family: var(--specialfont);
    text-align: justify;
    max-width: 100%;
    margin: 2rem auto;
    padding: 1.25rem;
    background: linear-gradient(to right, var(--color1),var(--color2) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border : 1px solid var(--color1);
    border-radius: 5px;
    color: var(--color1);
    border-left: 10px solid var(--color1);
}

/* For the big quote symbol */
.quote::before
{
    content: "\201c";
    font-size: 5.5rem;
    color: var(--color1);
    display: block;
    
    margin-bottom: -3rem;
    margin-top: -1rem;
}

.quote-text
{
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
}

/* to add bottom margin to everything except last child */
.quote-text:not(:last-child)
{
    margin-bottom: 10px;
}

.quote-credit
{
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: var(--color2);
}

/* For the hypen before credit person */
.quote-credit::before
{
    content: "\2014\0020";
}

.quote, .quote::before,.quote-text
{
    transition: all 0.5s ease-in-out;
}

    .quote:hover
    {
        background-position: left bottom;
        border-color: var(--color1);
    }
    .quote:hover:before
    {  
        -webkit-text-fill-color: white;
        transform: scale(1.05);
    }
    .quote:hover .quote-text
    {
        transform: scale(1.03);
        -webkit-text-fill-color: white;
    }
/* Quotes */

/* Categories */
.categories
{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;  
}
.category-box
{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--color1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translateZ(0);
}

.category-box img
{
    height: 60px;
    align-self: center;
}

.category-box:hover
{
    box-shadow: 5px 5px 10px var(--greycolor);
    border-color: var(--greycolor);
}

.categories a:hover,
.categories a:focus
{
    background-color: white;
    color: var(--color2);
}
/* Categories */

/* Right floating box */
.note
{
    font-size: 0.9rem;
    font-weight: lighter;
    padding: 1rem 0.5rem;
    margin: 1rem auto;
    line-height: 1.5;
    border-top: 1px solid rgba(214, 214, 214);
    border-bottom: 1px solid rgba(214, 214, 214);
}
.note p{
  margin: 0;
}
.note p a{
  font-weight: 600;
  text-transform: uppercase;
}
.blue
{
    background-color: var(--bluebgcolor);
    color: var(--blue);
}


@media screen and (min-width:1150px)
{
    .set-aside
    {
        position: absolute;
        right: -180px;
        transform: translateY(-50%);
        width: 160px;
        font-size: 1rem;
    }
}
@media screen and (min-width:1250px)
{
    .set-aside
    {
        right: -220px;
        width: 180px;
    }
}
/* Right floating box */
#scrollUp
{
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    padding: 1px;
    border-radius: 50%;
    font-size: 1.5rem;
    background: var(--maincolor);
    text-align: center;
    color: white;
    box-shadow: 0 0 10px var(--greycolor);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 20;
}

@media screen and (min-width: 768px)
{

    .main-container
    {
        font-size: 1.25rem;
    }
    #scrollUp:hover
    {
        transform: scale(1.2);
        /* color: var(--color1);
        background: white;
        border: 2px solid var(--color1);     */
    }
}


@media screen and (max-width: 1200px)
{
    .top-navigation-bar
    {
        width: 60%;
    }
    .top-navigation-item
    {
        padding: 0;
    }
}


/* For mobile */
@media screen and (max-width: 1024px)
{
    /* navbar */
    .top-navigation-bar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 100;
        background-color: black;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }
    .logo
    {
        margin: auto;
        margin-left: 20px;
    }
    .top-navigation-bar
    {
        justify-content:  flex-start;
    }

    .top-navigation-item
    {
        opacity: 0;
        margin-top: 40px;
    }

    .top-navigation-bar a
    {
        color: white;
    }

    .nav-icon
    {
        display: block;
    }

    .top-navigation-bar-active
    {
        transform: translateX(0%);
    }
    .toggle .line1
    {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .toggle .line2
    {
        opacity: 0;
    }
    .toggle .line3
    {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    /* navbar */
    
} 


.fade-in
{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear
{
    opacity: 1;
}

@keyframes slideFromTop
{
    0%
    {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromLeft
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navItemFade
{
    from
    {
        transform: translateX(-50px);
        opacity: 0;
    }
    to
    {
        transform: translateX(0px);
        opacity: 1;
    }

}