{% include header.html%}

<body>
    {% include navbar.html%}

    <div class = "main-container">
        <div class="header">
            <h2>Welcome</h2>
        </div>
        <p>Hi there!</p> 
        <p>
            I'm <b>Dhilip Sanjay</b>, a CYBERSECURITY ENTHUSIAST & a novice WEB DEVELOPER living in <b>Coimbatore, India</b>. 
        </p>
        <p> 
            Aspiring Bug Bounty Hunter | CyberSecurity | WebApp Security & Network Security Enthusiast  
        </p>
        <img src = "/assets/img/home.jpg" alt="Home Quote"> 
        <p>
            You can find my <a href="/projects/">PROJECTS</a> and <a href="/blog/">BLOGS</a> here...
        </p>
    </div>

    {% include footer.html%}
</body>
</html>

