{% include header.html%}
<meta name="google-site-verification" content="ho-Q0tKYIaFhFiyNqmKZM9upseLYV4OuC410tLwgXwU" />
<link rel="stylesheet" href="/assets//css/intro.css">
<body>
    {% include navbar.html%}

    <!--
    <div class = "main-container">
        <div class="header">
            <h2>Welcome</h2>
        </div>
        <p>Hi there!</p> 
        <p>
            I'm <b>Dhilip Sanjay</b>, a CYBERSECURITY ENTHUSIAST & a novice WEB DEVELOPER living in <b>Coimbatore, India</b>. 
        </p>
        <p> 
            Aspiring Bug Bounty Hunter | CyberSecurity | WebApp Security & Network Security Enthusiast  
        </p>
        <img src = "/assets/img/home.jpg" alt="Home Quote"> 
        <p>
            You can find my <a href="/projects/">PROJECTS</a> and <a href="/blog/">BLOGS</a> here...
        </p> -->
    </div>

    <div class="intro-wrap">
        <div class ="blur">
            Dhilip Sanjay
        </div>
        <div class= "intro-start">
            <img class="profile-pic" src="/assets/img/current_dp.jpeg" alt="Main profile image">
            <div class="intro-content">
            <h1>
                Hi, I'm DS ⚔️
            </h1>
            <h2 class="typing"></h2>
            <br>
            <a href="/about/"><button class="btn dark-btn">About Me</button></a>
            <a href="https://drive.google.com/file/d/1YXvKV_R1dhj1n5RSv9zKmI6e44CAyD5m/view?usp=sharing" target="-blank"><button class="btn light-btn">Download CV</button></a>
        </div>
        </div>
    </div>
    {% include footer.html%}
</body>
<script src="/assets/js/text_typing.js"></script>
</html>

