{% include header.html%}
<link rel="stylesheet" href="/assets/css/project.css">
<link rel="stylesheet" href="/assets/css/main.css">
<body>
    {% include navbar.html%}

    <div class = "main-container">
        <div class="header">
            <h2>{{page.title}}</h2>
        </div>
    
        <div>
            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/sensitivity-detecto.png" alt="project-image">
                </div>               
                <div class="project-container">
                    <div class="project-title">Detection of Sensitive Data Exposure in Images</div>
                    
                    <p class="project-details">Machine Learning Model that is deployed as a Web Application which can be used by any individual or company to detect sensitive data in their images.</p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        Google Colab, Python, TensorFlow, Keras, Numpy, Tesseract OCR, Firebase Hosting
                    </div>
                    
                    <div class="project-links">
                        <a class="link-btn" href="https://sensitivity-detecto.web.app/" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/link.svg" alt="Link">
                                <div class="link-btn-text">Visit Website</div>
                        </a>

                        <a class="link-btn" href="https://github.com/DhilipSanjay/Detection-of-Sensitive-Data-Exposure-in-Images" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>

        
            <div class="project-wrapper">
                <div class="project-image-wrapper">              
                    <img class="project-image" src="/assets/img/projects/quotables.png" alt="project-image">
                </div> 
                <div class="project-container">
                    <div class="project-title">Quotables</div>
                    
                    <p class="project-details">Quotables is a web application that can be used to collect, save, edit and categorize favourite quotes. Perfect for quote collectors (like me)!
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        React JS, Tailwind CSS, PHP, MySQL
                    </div>
                    
                    <div class="project-links">                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/Quotables" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/neuralnetworks.png" alt="project-image">
                </div>
                <div class="project-container">
                    <div class="project-title">Emergency Vehicle Classification - Ambulance</div>
                    
                    <p class="project-details">Machine Learning Model that classifies an image of a vehicle as ambulance or not ambulance using <b>Artificial Neural Networks with Momentum</b>.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        Google Colab, Python, Numpy
                    </div>
                    
                    <div class="project-links">                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/ANN-with-Momentum#emergency-vehicle-classification---ambulance" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/chatsystem.png" alt="project-image">
                </div>              
                <div class="project-container">
                    <div class="project-title">Multi-Client Chat System</div>
                    
                    <p class="project-details">Multi-Client Chat System built using C Programming Language. It uses threading, TCP sockets, Linked List and Mutex.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        C Language, TCP sockets
                    </div>
                    
                    <div class="project-links">                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/TCP-CHAT" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>
            

            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/exordium.png" alt="project-image">
                </div>                
                    
                <div class="project-container">
                    <div class="project-title">Exordium</div>
                    
                    <p class="project-details">Exordium is a mobile application developed for GRD Memorial Library. This app showcases the various resources and opportunities available at GRD Memorial Library in a user-friendly manner.                       
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        Flutter, Dart, Firestore Database, Google Dialogflow
                    </div>
                    
                    <div class="project-links">
                        <a class="link-btn" href="https://play.google.com/store/apps/details?id=com.exordium.library_demo" target="_blank">
                            <img class="link-btn-icon" src="/assets/svg/link.svg" alt="Link">
                            <div class="link-btn-text">Install Exordium</div>
                    </a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/tictactoe.png" alt="project-image">
                </div>             
                <div class="project-container">
                    <div class="project-title">Network-based Tic-Tac-Toe</div>
                    
                    <p class="project-details">Tic Tac Toe game built using Pygame and socket programming. Players can compete against each other over a network by connecting to the server.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        Python, Pygame, Sockets
                    </div>
                    
                    <div class="project-links">
                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/Tic-Tac-Toe" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image-wrapper">
                    <img class="project-image" src="/assets/img/projects/rustom.png" alt="project-image">
                </div>              
                <div class="project-container">
                    <div class="project-title">Rustom</div>
                    
                    <p class="project-details">Rustom is a car dealership website which can be used to buy and sell new cars, old cars and also to rent cars. It's easy-to-use interface makes buying, selling and renting of cars easier and more user friendly.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        HTML, CSS, Javascript, PHP, MySQL
                    </div>
                    
                    <div class="project-links">
                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/Rustom" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image-wrapper">             
                    <img class="project-image" src="/assets/img/projects/axel.png" alt="project-image">
                </div> 
                <div class="project-container">
                    <div class="project-title">Axel</div>
                    
                    <p class="project-details">Axel is a web app to connect startups and mentors. It is a platform where startups and mentors can connect seamlessly, startups can get insights from highly experienced people in the industry and mentors can fulfill their passion to guide startups.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        HTML, CSS, Javascript, PHP, MySQL
                    </div>
                    
                    <div class="project-links">
                        <a class="link-btn" href="http://thisisaxel.000webhostapp.com/" target="_blank">
                            <img class="link-btn-icon" src="/assets/svg/link.svg" alt="Link">
                            <div class="link-btn-text">Visit Axel</div>
                        </a>
                        <a class="link-btn" href="https://github.com/DhilipSanjay/Axel" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image-wrapper">             
                    <img class="project-image" src="/assets/img/projects/elucida.png" alt="project-image">
                </div> 
                <div class="project-container">
                    <div class="project-title">Elucida</div>
                    
                    <p class="project-details">A mobile application for medical emergency. The app shows a prioritized list of hospitals near the user, based on the user’s location. An emergency button allows the users to directly send SMS to the emergency contact. NFC tags are also used for storing emergency contact details and blood group of the user.
                    </p>
                    
                    <div class="tech-stack-wrapper">
                        <span class="tech-stack">Tech Stack</span>
                        Android Studio, Java, Google Maps API
                    </div>
                    
                    <div class="project-links">
                            
                        <a class="link-btn" href="https://github.com/DhilipSanjay/Elucida" target="_blank">
                                <img class="link-btn-icon" src="/assets/svg/github.svg" alt="Github">
                                <div class="link-btn-text">View Source</div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    {% include footer.html%}
</body>
</html>